<form action='/bookmarks' method='get'>
<input type="submit" value="View Bookmarks">
</form> <br>
<form action='/bookmarks/new' method='get'>
<input type="submit" value="Create Bookmarks">
</form>
<form action='/bookmarks/delete' method='get'>
<input type="submit" value="Delete Bookmark">
</form>